.nav-links {
  display: flex;
  list-style-type: none;
  padding: 20px;
  justify-content: space-around;
  background-color: #222222;
}

a {
  color: #ffffff;
  text-decoration: none;
}
.lists {
  background-color: #cecccf;
  border-radius: 10px;
  border: #222222;
}

.items {
  margin: 1px;
  padding: 2px;
  background-color: rgb(206, 204, 207);
}